:root {
    --primary-Green: hsl(158, 36%, 37%);
    --primary-Green-heading: hsl(158, 42%, 18%);
    --primary-Black: hsl(212, 21%, 14%);
    --primary-Grey: hsl(228, 12%, 48%);
    --primary-Cream: hsl(30, 38%, 92%);
    --primary-White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-Cream);
    font-size: 15px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    width: 90%;
    max-width: 750px;
    display: flex;
    background: var(--primary-White);
    border-radius: 15px;
}

.container .card .left {
    position: relative;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left,
.right {
    flex: 1;
}

.container .card .right {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.one {
    letter-spacing: 5px;
    margin: 5px 5px;
    font-family: Montserrat, sans-serif;
    color: var(--primary-Grey);
    text-transform: uppercase;
}

.h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: Fraunces, sans-serif;
    color: var(--primary-Black);
    margin-bottom: 15px;
    line-height: 40px;
}

.two {
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-Grey);
    font-family: Montserrat, sans-serif;
    word-spacing: 1px;
    text-align: left;
    padding: 5px;
    line-height: 25px;
}

.footer {
    display: flex;
}

.h2 {
    color: var(--primary-Green);
    font-weight: 700;
}

span {
    margin: 10px;
    color: var(--primary-Grey);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--primary-Green);
    color: var(--primary-Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 20px;
    height: 20px;
    margin: 5px 20px;
    text-align: left;
}

@media screen and (max-width: 600px) {

    .card {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .left img {
        border-radius: 15px 15px 0px 0px;
    }

    .one {
        letter-spacing: 1px;
    }

    .h1 {
        font-size: 25px;
    }

    .two {
        font-size: 13px;
    }

    button {
        width: 200px;
        font-size: 15px;
    }

    button img {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 800px) {
    .h1 {
        font-size: 28px !important;
    }

    .one {
        font-size: 12px;
    }

    .two {
        font-size: 13px;
        padding: 0px;
        line-height: 20px;
    }

    .footer {
        font-size: 14px;
    }

    button {
        padding: 13px 0px;
        width: 100%;
        height: auto;
        font-size: 20px;
    }
}