:root {
    --primary-Gold: hsl(31, 77%, 52%);
    --primary-Cyan: hsl(184, 100%, 22%);
    --primary-Green: hsl(179, 100%, 13%);
    --primary-Transparent: hsla(0, 0%, 100%, 0.75);
    --primary-Gray: hsl(0, 0%, 95%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    background: var(--primary-Gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    max-width: 1100px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.card {
    flex: 1;
    background: var(--primary-Gray);
    text-align: left;
    padding: 45px 35px;
}

.card img {
    width: 64px;
}

.card h2 {
    font-size: 2.375rem;
    margin: 20px 0;
    color: var(--primary-Gray);
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
}

.card p {
    color: var(--primary-Transparent);
    font-size: .9rem;
    margin-bottom: 40px;
    line-height: 1.7;
}

button {
    max-width: 300px;
    width: 100%;
    padding: 16px 32px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: var(--primary-Gray);
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:focus-visible {
    outline: 2px solid var(--primary-Gray);
    outline-offset: 2px;
}

.one {
    color: var(--primary-Gold);
}

.two {
    color: var(--primary-Cyan);
}

.three {
    color: var(--primary-Green);
}

.card1 {
    background: var(--primary-Gold);
}

.card2 {
    background: var(--primary-Cyan);
}

.card3 {
    background: var(--primary-Green);

}


@media (max-width:992px) {
    .card {
        padding: 35px 25px;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card p {
        font-size: 0.95rem;
    }

}

@media screen and (max-width:768px) {

    .card {
        flex: 1;
    }

    .card h2 {
        font-size: 1.8rem;
    }

    .card p {
        margin-bottom: 30px;
    }

}

@media (max-width:570px) {

    .card-container {
        flex-direction: column;
        justify-content: center;

        width: 100%;
        max-width: 400px;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    .card button {
        font-size: 1rem;
    }

}