:root {
    --primery-Gold: hsl(31, 77%, 52%);
    --primery-Cyan: hsl(184, 100%, 22%);
    --primery-Green: hsl(179, 100%, 13%);
    --primery-Transparent: hsla(0, 0%, 100%, 0.75);
    --primery-Gray: hsl(0, 0%, 95%);

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: var(--primery-Gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    max-width: 1100px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.card {
    flex: 1;
    max-height: 600px;
    padding: 30px;
    background: var(--primery-Gray);
    text-align: left;
    cursor: pointer;
    padding: 45px 35px;
}

.card img {
    width: 64px;
}

.card h2 {
    font-size: 38px;
    margin: 20px 0px;
    color: var(--primery-Gray);
    text-transform: uppercase;
}

.card p {
    color: var(--primery-Transparent);
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.7;
}

button {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: var(--primery-Gray);
}

.one {
    color: var(--primery-Gold);
}

.two {
    color: var(--primery-Cyan);
}

.three {
    color: var(--primery-Green);
}

.card1 {
    background: var(--primery-Gold);
}

.card2 {
    background: var(--primery-Cyan);
}

.card3 {
    background: var(--primery-Green);

}

@media (max-width:1090px) {

    .card {
        padding: 35px 25px;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card p {
        font-size: 0.95rem;
        margin-bottom: 40px;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}


@media (max-width:992px) {


    .card {
        padding: 35px 25px;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card p {
        font-size: 0.95rem;
        margin-bottom: 40px;
    }

    button {
        width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width:768px) {
    body {
        height: 600px;
    }


    .card {
        width: 100%;
        padding: 25px 20px;
    }

    .card h2 {
        font-size: 1.8rem;
    }

    .card p {
        margin-bottom: 30px;
    }

    button {
        width: 100%;
    }
}

@media (max-width:570px) {

    body {
        height: 600px;
    }

    .card {
        padding: 25px 20px;
    }

    .card-container {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 400px;
    }

    .card img {
        width: 50px;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 14px;
    }
}



@media (max-width:480px) {

    body {
        padding: 20px;
        height: 600px;
    }

    .card {
        padding: 25px 20px;
    }

    .card-container {
        width: 400px;
    }

    .card img {
        width: 50px;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 14px;
    }
}

@media (max-width:320px) {
    body {
        height: 600px;
    }

    .card-container {
        max-width: 315px;
    }
}