 :root {
     --primery-Navy: hsl(233, 47%, 7%);
     --primery-Blue: hsl(244, 37%, 16%);
     --primery-Purple: hsl(277, 64%, 61%);
     --primery-heading: hsl(0, 0%, 100%);
     --primery-paragraph: hsla(0, 0%, 100%, 0.75);
     --primery-stat: hsla(0, 0%, 100%, 0.6);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;

 }

 body {
     background-color: var(--primery-Navy);
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
 }


 .card-container {
     background-color: var(--primery-Blue);
     max-width: 327px;
     border-radius: 8px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     text-align: center;
 }

 .card-image {
     background-image: url('public/images/image-header-mobile.jpg');
     background-size: cover;
     background-position: center;
     height: 240px;
     position: relative;
 }

 .image-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--primery-Purple);
     mix-blend-mode: multiply;
     opacity: 0.75;
 }

 .card-content {
     padding: 32px 24px;
 }

 .card-title {
     color: var(--primery-heading);
     font-size: 1.75rem;
     margin-bottom: 16px;
     font-weight: 700;
 }

 .highlight {
     color: var(--primery-Purple);
 }

 .card-description {
     color: var(--primery-paragraph);
     font-size: 0.9rem;
     line-height: 1.6;
     margin-bottom: 32px;
 }

 .card-stats {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .stat-number {
     display: block;
     color: var(--primery-heading);
     font-size: 1.5rem;
     font-weight: 700;
 }

 .stat-label {
     display: block;
     color: var(--primery-paragraph);
     font-size: 0.75rem;
     letter-spacing: 1px;
     margin-top: 4px;
 }

 @media (min-width: 768px) {

     .card-container {
         max-width: 1110px;
         flex-direction: row-reverse;
         text-align: left;
         height: 446px;

     }

     .card-image,
     .card-content {
         flex: 1;
         height: 100%;
     }

     .card-image {
         width: 50%;
         min-width: 50%;
         background-image: url('/Task0/public/images/image-header-desktop.jpg');
         background-size: cover;
         background-position: center;
     }

     .card-content {
         width: 50%;
         padding: 40px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }

     .card-title {
         font-size: 2.5rem;
     }

     .card-description {
         max-width: 370px;
         margin-bottom: 0;
     }

     .card-stats {
         flex-direction: row;
         gap: 40px;
     }
 }

 @media (min-width: 1440px) {
     .card-container {
         max-width: 1110px;
     }

     .card-content {
         padding: 40px;
     }

     .card-title {
         font-size: 2.5rem;
     }
 }