 :root {
     --primary-Navy: hsl(233, 47%, 7%);
     --primary-Blue: hsl(244, 37%, 16%);
     --primary-Purple: hsl(277, 64%, 61%);
     --primary-heading: hsl(0, 0%, 100%);
     --primary-paragraph: hsla(0, 0%, 100%, 0.75);
     --primary-stat: hsla(0, 0%, 100%, 0.6);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;


 }

 body {
     background-color: var(--primary-Navy);
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     font-family: 'Inter', sans-serif;
 }


 .card-container {
     background-color: var(--primary-Blue);
     max-width: 327px;
     border-radius: 8px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     text-align: center;
 }

 .card-image {
     background-image: url('./public/images/image-header-mobile.jpg');
     background-size: cover;
     background-position: center;
     min-height: 240px;
     position: relative;
 }

 .image-overlay {
     position: absolute;
     inset: 0;
     background-color: var(--primary-Purple);
     mix-blend-mode: multiply;
     opacity: .75;
 }

 .card-content {
     display: flex;
     flex-direction: column;
     gap: 32px;
     padding: 32px 24px;
 }

 .card-title {
     color: var(--primary-heading);
     font-size: 1.75rem;
     margin-bottom: 16px;
     font-weight: 700;
 }

 .highlight {
     color: var(--primary-Purple);
 }

 .card-description {
     color: var(--primary-paragraph);
     font-size: 0.9rem;
     line-height: 1.6;
 }

 .card-stats {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .stat-number {
     display: block;
     color: var(--primary-heading);
     font-size: 1.5rem;
     font-weight: 700;
 }

 .stat-label {
     display: block;
     color: var(--primary-paragraph);
     font-size: 0.75rem;
     letter-spacing: .08em;
     margin-top: 4px;
 }

 @media (min-width: 768px) {

     .card-container {
         max-width: 1010px;
         flex-direction: row-reverse;
         text-align: left;
         min-height: 446px;

     }

     .card-image,
     .card-content {
         flex: 1;
     }

     .card-image {
         background-image: url('./public/images/image-header-desktop.jpg');
     }

     .card-content {

         justify-content: space-between;
     }

     .card-title {
         font-size: 2.5rem;
     }

     .card-description {
         max-width: 370px;
     }

     .card-stats {
         flex-direction: row;
         gap: 40px;
     }
 }

 @media (min-width: 1440px) {
     .card-container {
         max-width: 1110px;
     }

     .card-content {
         padding: 40px;
     }

 }