* {
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("/public/euclid-circular-a/Euclid\ Circular\ A\ Bold.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("/public/euclid-circular-a/Euclid\ Circular\ A\ Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("/public/euclid-circular-a/Euclid\ Circular\ A\ SemiBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}